@import url(./reset.css);

/* Comienzo de declaracion de variables */
:root {
	/* Colores */
	--principal-color1: #193081;
	--principal-color2: #141A32;
	--principal-color3: #3B5ACA;
	--secondary-color1: #FFC56E;
	--secondary-color2: #007AFF;

	/* Paddings y margenes */
	--body-side-padding: 1rem;
	--external-padding-size: 2rem;

	/* Tamaños de letras */
	--nav-font-size: 18px;
	--main-header-title-size: 5rem; /* Header de la pagina */
	--header-description-size: 1.8rem; /* Descripcion del header de la pagina */
	--section-title-size: 3.5rem; /* Titulo de los sections */
	--section-description-size: 1.5rem; /* Descripcion de los sections */
	--footer-header-title-size: 1.5rem;
	--footer-description-text : 1rem;

	/*Tamaño imagenes*/
	--height-img: 30rem;
	--height-img-transition:32rem;
}

/*Main style*/

body {
    background-color: var(--principal-color3);
}


/*Nav style*/

nav {
	display: block;
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: var(--principal-color2);
	color: white
}

nav input {
	display: none;
}

nav label {
	display: none;
}

nav > ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav > ul > li> a {
	display: block;
	font-family: var(--secondary-font);
	font-size: var(--nav-font-size);
	font-weight: 600;
	text-decoration: none;
	color: white;
	padding: 10px;
}

nav a:hover {
	background-color: var(--secondary-color2);
}

/* Reserva */

h2 {
    padding: 2rem;
    text-align: center;
    font-size: var(--header-description-size);
    color: var(----principal-color2);
}

form {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem;
}

fieldset {
	display: flex;
	justify-content:center;
	align-items: center;
	width:100%;
}

input {
	/* padding: 1rem;
	width: 30%;
	background-color: var(--secondary-color2) ;
	font-size: var(--nav-font-size);
	font-weight: 800;
	color:  var(--principal-color2); */
}

input::placeholder {
	/* color:  var(--principal-color2); */
}


article {
	border: 1px solid var(--text);
	display: inline-block;
	padding: 10rem 7rem ;
	margin: 0.5rem;
}

/* footer */
footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-gap: 20px;
	padding: 4rem 1rem;
	text-align: center;
}

/* Custom classes */

.reservation-button {
	padding: 0.5rem 1.2rem;
	font-weight: bold;
	font-size: 1.5rem;
	border-radius: 50px;
	border: none;
	box-shadow: 1px 1px 6px 0px #000000;
	cursor: pointer;
}
.reservation-button::before {
    display: inline-block;
	content: "";
	background-image: url('/icons/ticket_icon.png');
	background-size: 25px 25px;
    width: 25px;
    height: 25px;
    margin: 0 6px 0 0; 
}

.button-color-1 {
	background-color: var(--principal-color1);
	color: white;
}

.button-color-1:hover {
	background-color: var(--secondary-color2);
}