{{> parts/base}}
{{#*inline "main-block"}}
    <h1>Cartelera</h1>
    
    <section>
        <article>
            <p>titulo</p>
            <p>duracion</p>
        </article>
                <article>
            <p>titulo</p>
            <p>duracion</p>
        </article>
                <article>
            <p>titulo</p>
            <p>duracion</p>
        </article>
                </article>
                <article>
            <p>titulo</p>
            <p>duracion</p>
        </article>
                </article>
                <article>
            <p>titulo</p>
            <p>duracion</p>
        </article>
                </article>
                <article>
            <p>titulo</p>
            <p>duracion</p>
        </article>
    </section>

{{/inline}}
{{parts/base}}