{{> parts/base }}

{{#*inline "head-block" }}
    <link href="/style/movie-displayer.css" rel="stylesheet" type="text/css">
     <script src="/scripts/utils.js"></script> 
     <script src="/scripts/reservacion.script.js"></script> 
{{/inline}}

{{#*inline "main-block" }}
    <section style="text-align: center;">
        <h2>Reserva tu entrada</h2>
        <section>
            <select id="show-selected" name="room">
                <option value="1">Pelicula 1 - Español - Sala 2D</option>
            </select>
            <label>
                <input id="seats-input" type="text" placeholder="Butacas ID">
            </label>
        </section>
        <section>
                <input id="name-input" type="text" placeholder="Nombre">
                <input id="email-input" type="text" placeholder="Email">
                <input id="phone-input" type="text" placeholder="Telefono">
        </section>
            <input id="reservation-submit-input" type="submit" value="Reservar" class="b-submit">
    </section>
    <section style="text-align: center;">
        <a id="paymentUrl" href="cualquiqera" target="_blank" style="display: none;">Link de pago</a>
    </section>
    {{!-- <section id="movie selection">
        {{> parts/moviesDisplayer }}
    </section> --}}
{{/inline}}

{{ parts/base }}
