{{> parts/base}}
{{#*inline "main-block"}}
<h1>Salas</h1>

<section>
    <article>
        <h3>Sala 2D</h3>
        <p>Aca se ven peliculas 2D</p>
    </article>
    <article>
        <h3>Sala 3D</h3>
        <p>Aca se ven peliculas 3D</p>
    </article>
    <article>
        <h3>Sala 4D</h3>
        <p>Aca se ven peliculas 4D</p>
    </article>
    <article>
        <h3>Sala 3D-xtremo</h3>
        <p>Aca se ven peliculas 3D-xtremo</p>
    </article>
    <article>
        <h3>Sala 4D</h3>
        <p>Aca se ven peliculas 4D</p>
    </article>
    <article>
        <h3>Sala Monster</h3>
        <p>Aca se ven peliculas monstruo</p>
    </article>
</section>

{{/inline}}
{{parts/base}}