<section>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/cartelera">Cartelera</a></li>
        <li><a href="/salas">Nuestras salas</a></li>
        <li><a href="/nosotros">Sobre nosotros</a></li>
        <li><a href="https://www.google.com/">google</a></li>
    </ul>
</section>
<section>
    <address>
        <ul>
            <li>
                <p>Facebook: </p> <a href="https://www.google.com" target="_blank">Cine PAW</a>
            </li>
            <li>
                <p>Instagram: </p> <a href="https://www.google.com" target="_blank">@CinePAW</a>
            </li>
            <li>
                <p>Teléfono:</p>
                <p>+5491179842315</p>
            </li>
            <li>
                <p>Whatsapp:</p>
                <p>+5491179842315</p>
            </li>
            <li>
                <p>Dirección:</p>
                <p>calle falsa 123</p>
            </li>
        </ul>
    </address>
</section>