.carousel-slide {
	position: relative;
}

.carousel {
	position: relative;
	padding: 2rem 1rem 0.5rem 1rem ;
}

/* Hide the images by default */
.carousel-slide-js-inserted {
	display: none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	border-radius: 5px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	user-select: none;
}

.prev {
	left: 1rem;
}

.next {
	right: 1rem;
}

.prev:hover, .next:hover {
	background-color: var(--fondo);
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 3px;
	background-color: var(--secondary-color2);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.4s ease;
}

.active, .dot:hover {
	background-color: var(--principal-color2);
}

.fade {
	animation-name: fade;
	animation-duration: 0.5s;
}

/* Loading effect */
.loading {
	position: absolute;
	left: calc(50% - 60px);
	top: calc(50% - 60px);
	display: inline-block;
	width: 120px;
	height: 120px;
	border: 12px solid var(--secondary-color2);
	border-top: 12px solid var(--principal-color2);
	border-radius: 50%;
	animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

@keyframes fade {
	from { opacity: .4 }
	to { opacity: 1 }
}


@media screen and (max-width: 900px) {
	.prev, .next {
		font-size: 40px;
	}

	.dot {
		height: 25px;
		width: 25px;
		margin: 0 15px;
	}
}